body{
  background-color: white;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  background-image:url("https://en.wikipedia.org/wiki/Ochsenheimeria_taurella#/media/File:Ypsolophidae_-_Ochsenheimeria_taurella_(female).JPG");
  margin:0;
  padding:0;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content:space-around; */
  font-size:20px;
}
.digitalBody{
  background-color: black;
  color:white;
  /* text-align: center; */
}
.center{
  text-align: center;
  /* margin:auto; */
}
.auto{
  margin:auto;
}
.digitalBody h1, .digitalBody a,.digitalBody a:visited{
  color:white;
}
.physicalBody,.digitalBody{
  text-align: center;
}
.physicalBody .art-label,.digitalBody .art-label{
  text-align:left;
  margin:auto;
  width:800px;
}

.physicalBody img, .physicalBody iframe, .digitalBody img, .digitalBody iframe{
  margin:auto;
  margin-bottom: 50px;
}

.flexcenter{
  /* text-align: center; */
  display: flex;
  justify-content: space-around;
}
/* .home{
  background-color: white;
} */
h1,h2,h3{
  letter-spacing: 2px;
  font-weight: lighter;
}
h1{
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 80px;

}
h4{
  font-size: 50px;
  font-style: italic;
}
.yc{
    text-decoration:none;
    /* color:white; */
}
h3{
  margin-top:10px;
  margin-bottom:0px;
}
a{
  /* color:green; */
  color:black;
}
a:visited{
  color:black;
  /* color:green; */
}
ul{
  padding:0px;
  margin:0px;
  margin-left:20px;
}

th{
  text-align: left;
  /* text-decoration: underline; */
  font-weight: lighter;
  font-size: 20px;
  color:green;
}

#header{
  text-align: center;
}
#artist-statement{
  width:700px;
  font-size: 14pt;
  text-align: left;
  /* letter-spacing:0.3px; */
}
#cv{
  font-size:20px;
}
.back{
  display: block;
  margin-top:40px;
  margin-bottom:40px;
  display: inline-block;
  width:100px;
  transition: all 1s ease;
  color:blue;
}
.back:hover{
  background-color: #333;
}
.back:visited{
  color:blue;
}

.floatright{
  float:right;
}
.floatleft{
  float:left;
}

#content{
  /* margin-left: 40px; */
  margin-left: 60px;
  /* mix-blend-mode: exclusion; */
}

/* #workBtn{
  color:green;
} */
#work{
  transition: all 1s ease;
}
#work div{
  /* display: none; */
  /* display:none; */
  padding: 5px 26px;
  background-color:red;
  /* text-align: left; */
}
#work li:hover{
    background-color: blue;
}
#copy{
  position: absolute;
  bottom:20px;
  color:black;
}


#work-container{
  transition: all 0.47s ease;
  width:600px;
  margin:auto;
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-top:60px;
}
.work-section-title{
  text-decoration: underline;
  font-style:italic;
  /* font-size: 150%; */
}
#work-container a{
  text-decoration: none;
  /* color:rgb(0,255,0); */
  color:black;
  display:block;
  width:auto;
  margin:2px;
  transition: all 0.25s ease;
}
#work-container a:visited{
  color:black;
}
#work-container a:hover{
  background-color: blue;
}

.work-section{
  height:500px;
  line-height: 27px;
  /* background-color: red; */
}

.bottom-text{
  transform: rotate(180deg);
  position:relative;
  bottom: 10px;
  color:rgb(0,255,0);
  z-index: -1;
  /* height:400px; */
  height:350px;
  text-align: left;

}
.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #000000; */
}



.art-label{
  font-style:italic;
  width:800px;
  font-size: 30px;
  margin:auto;
}

.materials{
  font-style: normal;
}

.drawing{
  margin-bottom:80px;
}
.drawings img{
  margin-bottom:100px;
}

.image-display img{
  width:290px;
  transition: all 0.2s;
}
.image-display img:hover{
  width:400px;
}
#house-writeup{
  width:1000px;
  margin-bottom:30px;
  text-align: left;
  margin:auto;
}

li {
  /* float: left; */
  display: inline;
  text-align: center;
}
li a, workBtn {
  display: inline-block;
  /* color: white; */
  text-align: center;
  padding: 5px 26px;
  text-decoration: none;
  transition: all 0.1s ease;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: blue;
}


/* .dropdown-content a,{
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
} */
/* .dropdown-content a:hover {background-color: #f1f1f1;} */
/* .dropdown:hover .dropdown-content {
  display: block;
} */



.p5Canvas{
  position: absolute;
  bottom:0px;
  z-index: -1;
}
